* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF5EE;
    background-color: rgb(245, 245, 245);
    color:#F5F5F5;

    /*font-family: 'times New Roman', Times, serif;*/
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    line-height: 1.6;
}

h1 {
    color: red;
    background-color: yellow;
    margin: 120px;
    padding: 20px;
    text-align: center;
}

h2, h3{
    font-weight: 10000; /*espessura da font*/
}

/*link*/
a{
    color: #FFE4C4;
    text-decoration: none;
    transition: 0.3s;
}

/*ao passar o mouse sobre o link*/
a:hover{
    text-decoration: underline;
    background-color: white;
}

/*id intro*/ 
#intro{
    background-color: darkgray;
    padding: 10px;
    /*margin: 20px;*/
    /*padding-left: 30px;*/
   /*padding-top: 20px;*/
  /* padding: 10px 20px 30px 40px;*/
  /*padding: 10px 50px;*/

  width: 200px;
  height: 500px;

  border: 10px double red;
  border-radius: 8px;
}

p{
    margin: 20px;
}