/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: darkkhaki;
    font-family: Arial, Helvetica, sans-serif;
}

#geral {
    width: 650px;
    height: 2500px;
    margin: 30px auto;
    background-color: cadetblue;
}

#bloco1, #bloco2 {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}

img {
    width: 200px;
    border: 3px solid red;
}

/* Entendendo POSITION*/

/* fone de ouvido */
/*position static*/
#img1 {
    position: static; /*ignora parâmetros de movimentação*/
    top: 100px; /*não funciona*/
    left: 100px; /*não funciona*/
}

/* mouse */
/* position relative a posição do elemento é relativa à sua posição normal */
/* OBS: o espaço original ocupado continua ocupado mesmo após a movimentação */
#img3{
    position: relative;
    top: 100px;
    left: 100px;
}

/*position absolute*/

/*elemento pai -> bloco1*/
#bloco1 {
    position: relative;

}

/*elemento filho -> 
ABSOLUTE a posição do elemento é relativa ao seu elemento api mais próximo QUE tenha position diferente de static img2*/
/* bola */
 /* OBS: o espaço original ocupado fica livre após a movimentação */
#img2{
    position: absolute;
    top: 50px;
    left: 50px;

}

/*position fixed*/
/*mochila*/
#img4 {
    position: fixed;
    top: 50px;
    left: 50px;
}

/*
------------------------
Z-INDEX
--------------------------
*/
/*vamos testar o Z-INDEX com os blocos 1 e 2*/  

#bloco1 {
    position: relative;
}

#bloco2 {
    position: relative;
    top: -120px;
    left: 120;
}

/*agora sim, vamos conhecer p z-index*/

#bloco1 {
    z-index: 2;
}

#bloco2 {
    z-index: 1;
}